<!-- ! Main -->
<%-include('navbar.ejs')%>
    <div class="container">
        <h2 class="main-title">Dashboard</h2>
        
        <div class="row stat-cards">
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <!-- <i class="fa-solid fa-bag-shopping"></i> -->
                         <img src="/img/customer.png" width="80%" height="80%">
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num fs-4"><%=ttl.ttlcount%></p>
                        <p class="stat-cards-info__title">Total Customers</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                      
                    </span> Latest
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon warning">
                        <!-- <i data-feather="file" aria-hidden="true"></i> -->
                         <img src="/img/vendor.png" width="80%" height="80%">
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num fs-4"><%=ttp.ttlparty%></p>
                        <p class="stat-cards-info__title">Total Parties</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                     
                    </span> Latest  
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon purple">
                        <i data-feather="file" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">1478 286</p>
                        <p class="stat-cards-info__title">Total visits</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit danger">
                      <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                    </span> Last month
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon success">
                        <i data-feather="feather" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">1478 286</p>
                        <p class="stat-cards-info__title">Total visits</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit warning">
                      <i data-feather="trending-up" aria-hidden="true"></i>0.00%
                    </span> Last month
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div>

    </div>
  
<script>
    const xValues = [50,60,70,80,90,100,110,120,130,140,150];
    const yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>
    <%-include('footer.ejs')%>